@import '../../variables.scss';
.Nav {
  position: absolute;
  width: $nav-width;
  height: 100vh;
  margin: 0;
  padding: 0;
  &-link {
    position: relative;
    display: block;
    cursor: pointer;
    width: 100%;
    margin: 1em;
    padding: 1em;
    border: none;
    background: deepskyblue;
    box-shadow: none;
    color: white;
    text-transform: capitalize;
    text-align: center;
  }
}