.List {
  position: absolute;
  width: 80%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  &-item {
    border: solid gray 1px;
    margin: 1em;
    padding: 1em;
    background-color: aquamarine;
    text-transform: uppercase;
  }
}