.Home {
  position: relative;
  top: 2em;
  width: 100%;
  height: 100vh;
  &-buttonContainer {
    position: absolute;
    width: 6em;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  &-button {
    position: relative;
    width: 100%;
    height: 3em;
    margin: 0 2em 2em 0;
    border: none;
    box-shadow: none;
    background: deepskyblue;
    color: white;
    text-transform: capitalize;
  }
}